@import "../../assets/scss/theme";

.left-toolbar-container {
  width: 100%;
  height: 500px;

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }

  .left-toolbar-draw-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }
}
